
<nav class="topnav">
  <ul>
    <li><a href="default.asp">Home</a></li>
    <li><a href="news.asp">About Us</a></li>
    <li><a href="contact.asp">Contact</a></li>
  </ul>
</nav>

<body class="container">
<div>
  <div>
    <div><h1>Little Background for our treatment</h1></div>
    <div> <img src="../../assets/first_image.jpg"></div>
  </div>
  <div>
    <h1>Treatment typess ...</h1>
    <img src="../../assets/second_image.jpg">
  </div>
  <div>
    <h1>Treatment typess ...</h1>
    <img src="../../assets/third_image.JPG">
  </div>
  <div>
    <h1>Treatment typess ...</h1>
    <img src="../../assets/forth_image.jpg">
  </div>
    <div>
      <form>
        <h1>
          You can easily send your question:
        </h1>
        <input type ="text" placeholder="Enter first name">
        <input type ="text" placeholder="Enter family name">
        <input id="textarea" type ="text" placeholder="We would like to hear from you...">
        <input type="date">
        <button>Send appointment Request</button>
      </form>
  </div>

  <div>
    <footer>
      <p>
        NUR Vrown Gezondheid Centrum
      </p>
      <p>
        Your Health @ 2024
      </p>
    </footer>
  </div>
</div>
</body>
