nav{
background-color: lightgreen ;
padding: 20px;
}
ul {
list-style-type: none;
text-align: center;
}
li {
display: inline;
padding:30px;
}
a {
color: blue;
font-size: large;
font-weight: 900;
text-decoration:none;
text-align: center;
}
.topnav a:hover {
  color: red;
}
body{
background-color: tan;
text-align:center;
}
img{
width:730px;
border-radius:10px;
}
h1{
color: grey;
text-align: center;
font-family: cursive;
}
p{
color: red;
text-align: center;
}
form{
margin: 180px;
}
input{
display: block;
width:730px;
margin:10px;
text-align: center;
padding: 12px 20px;
font-size: 12px;
resize: none;
}
#textarea{
  height: 100px;
  padding: 12px 20px;
  font-size: 12px;
  resize: none;
}
