
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <ul>
    <li><a href="default.asp">Home</a></li>
    <li><a href="news.asp">Treatments</a></li>
    <li><a href="contact.asp">Contact</a></li>
  </ul>
</nav>

<body class="container">
<div>
  <div>
    <div><h1>Little Background for our treatment</h1></div>
    <div> <img src="../../assets/first_image.jpg"></div>
  </div>
  <div>
    <h1>Treatment typess ...</h1>
    <img src="../../assets/second_image.jpg" [style.size]="10">

    <div>
      <input type="date">
      <button>Send appointment Request</button>
    </div>
  </div>

  <div>
    <footer>
      <p>
        NUR Vrown Gezondheid Centrum
      </p>
      <p>
        Your Health @ 2024
      </p>
    </footer>
  </div>
</div>
</body>
